.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo_wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  user-select: none;
  color: #fff;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.logo {
  width: 45px;
  height: 45px;
}

.header {
  padding: 5px 0;
}

.header_aside {
  display: flex;
  align-items: center;
  gap: 15px;
}

.content_primary {
  display: flex;
  align-items: center;
  gap: 30px;
}

.navlink {
  color: #fff;
  font-size: 19px;

  &:hover {
    text-decoration: underline;
  }
}
