.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo_wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  width: 45px;
  height: 45px;
}

.header {
  padding: 5px 0;
}
