.layout {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.users {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.header {
  display: flex;
  align-items: center;
  gap: 15px;
}

.images {
  display: flex;
  gap: 15px;
}

.story {
}

.story_media {
  max-height: 350px;
}

.liked_me {
  background-color: rgb(243, 62, 125);
  color: #ffffff;
  padding: 2px 10px;
  border-radius: 2px;
}
